<!Doctype html>

<head>
  <link rel="stylesheet" href={{style.css}}>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlS89y9gy-9i9ju 8u j uiAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark ">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="im/logo1.PNG"></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <img src="im/1.gif" height="600px" width="100%">

  <div class="container-fluid" style="background-color: rgb(145, 13, 53); padding: 15px;">
    <h1 align="center" style="color: white;">Who are We ?</h1>
  </div>
  
  <div class="row text-center padding">
    
    <div class="col-md-6">
      <p style="font-size: 25px;" class="lead"><br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-6">
      <img src="im/White & Black Modern Coffee Quote Photo Collage.png" width="100%" height="400px" class="img-fluid">
    </div>

  </div>
  <div class="container-fluid" style="background-color:  rgb(145, 13, 53); padding: 15px;">
    <h1 style="padding-left: 20px; color: white;" align="center">Our Products</h1>

  </div>
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <br>
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active" style="background-color: gray;"></li>
      <li data-target="#demo" data-slide-to="1" style="background-color: gray;"></li>
      <li data-target="#demo" data-slide-to="2" style="background-color: gray;"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="col-md-3" style="float:left">
          <div class="card mb-2" >
            <img class="card-img-top" src="im/soft_serve.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Soft Serve</h4>
            
                <a class="btn btn-primary" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=2" target="_blank">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/rolled_ice_cream.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Rolled Ice Cream</h4>
            
                <a class="btn btn-primary" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=1" target="_blank">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/frozen_yogurt.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Frozen Yogurt</h4>
            
              <a class="btn btn-primary" target="_blank" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=3">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/snow_cream.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Snow Cream</h4>
            
                <a class="btn btn-primary" target="_blank" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=4">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item ">
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/kulfi.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Kulfi</h4>
            
                <a class="btn btn-primary" target="_blank" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=6">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/gelato.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Gelato</h4>
            
                <a class="btn btn-primary" target="_blank"href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=5">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/sorbet.jpg" height="300px"
              alt="Card image cap"> 
            <div class="card-body">
              <h4 class="card-title">Sorbet</h4>
            
                <a class="btn btn-primary" target="_blank" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=7">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/faloodeh.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Faloodeh</h4>
            
                 <a class="btn btn-primary" target="_blank" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=8">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/granita.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Granita</h4>
            
                <a class="btn btn-primary" target="_blank"
              href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=10">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/dondurma.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Dondurma</h4>
            
                <a class="btn btn-primary" target="_blank" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=9">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/mochi.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Mochi</h4>
            
                <a class="btn btn-primary" target="_blank" href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=11">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="im/italian_ice.jpg" height="300px"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Italian Ice</h4>
            
                <a class="btn btn-primary" target="_blank"href="https://www.delish.com/food/g4004/the-best-types-of-ice-cream-around-the-world/?slide=12">Explore</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
<!--
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  -->
  </div>

  <div class="container-fluid" style="background-color:  rgb(145, 13, 53); padding: 15px;">
    <h1 style="padding-left: 20px; color: white;" align="center">Why Us??</h1>

  </div>

  <div class="row padding">

    <div class="col-md-6">
      <div class="text-center">
        <br>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida dictum fusce. Parturient montes
          nascetur ridiculus mus mauris vitae ultricies leo. At quis risus sed vulputate odio ut enim. Sed viverra ipsum
          nunc aliquet bibendum enim. Volutpat sed cras ornare arcu dui vivamus arcu felis. Odio ut enim blandit
          volutpat maecenas volutpat blandit. Diam vulputate ut pharetra sit amet aliquam. Tincidunt ornare massa eget
          egestas purus viverra accumsan in. At erat pellentesque adipiscing commodo elit at imperdiet. Hac habitasse
          platea dictumst quisque sagittis purus. Id venenatis a condimentum vitae.</p>
      </div>
    </div>
    <div class="col-md-6">
      <br>
      <img src="im/Life is like.png" width="100%" class="img-fluid" height="400px">
    </div>
  </div>
  <!--Connect with us-->
  <div class="container-fluid padding">  
    
  </div>
  <!--footer-->
  <footer>
    <div class="container-fluid padding">
      <br><br>
      <div class="row text-center padding">
        <div class="col-md-4" style="color: white;">

          <img src="im/logo1.PNG" height="50px">
          <br>
          <br>
          <p>****47970</p>
          <p>kjgsdk@gmail.com</p>
          <p>adress</p>

        </div>
        <div class="col-md-4" style="color: white;">

          <p>Our Website</p>
          <p>Home</p>
          <p>About Us</p>
          <p>Contact us</p>
          <p>Our Products</p>

        </div>
        <div class="col-md-4" style="color: white;">
          <p>Our Products</p>
          <br>
          <p>Type 1</p>
          <p>Type 2</p>
          <p> Type 3</p>
        </div>
        <div class="col-12" style="color: white;">
          <p>&copy Creme Glacee</p>
        </div>
      </div>

    </div>
  </footer>


</body>

</html>