<!Doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel= "stylesheet" type= "text/css" href= {{ url_for('static', filename='styles/style.css') }}>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {%block head%}
 {%endblock%}
 <style>
 #btn {

  background-color:  rgb(145, 13, 53);
  color: white;
}
#btn:hover {
  background-color: white;
  color:  rgb(145, 13, 53);
  border-color:  rgb(145, 13, 53);
}
#nxt {
  color:  rgb(145, 13, 53);
  border-color:  rgb(145, 13, 53);
}
#nxt:hover{
  background-color:  rgb(145, 13, 53);
  color: white;
}
</style>

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark ">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src={{ url_for('static', filename='im/logo1.png') }}></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
{%block body%}
{%endblock%}
<footer>
  <div class="container-fluid padding">
    <br><br>
    <div class="row text-center padding">
      <div class="col-md-4" style="color: white;">

        <img src="static/im/logo1.PNG" height="50px">
        <br>
        <br>
        <p>****47970</p>
        <p>kjgsdk@gmail.com</p>
        <p>adress</p>

      </div>
      <div class="col-md-4" style="color: white;">

        <p>Our Website</p>
        <br>
        <p>Home</p>
        <p>About Us</p>
        <p>Contact us</p>
        <p>Our Products</p>

      </div>
      <div class="col-md-4" style="color: white;">
        <p>Our Products</p>
        <br>
        <p>Type 1</p>
        <p>Type 2</p>
        <p>Type 3</p>
      </div>
      <div class="col-12" style="color: white;">
        <br>
        <h4>&copy Creme Glacee</h4>
      </div>
      
    </div>
  </div>
  <br>
</footer>
<div class="col-12" style="background-color: white; color: rgb(145, 13, 53); ;">
  <br>
  <h2 align="center">💖 Made by Santushti Sharma 💖</h3> 
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>