{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Dondurma</h1>
        <br>
       <p class="lead">
        Turkish ice cream is like nothing you've had before. The mixture includes salep flour and mastic, which make it thick and chewy, almost like taffy. But it's still malleable. It just has to be consistently churned and pulled. Watching street vendors do this is mesmerizing. 
       </p>
       <button type="button" class="btn btn-lg" id="btn">Add To the Cart</button>
<button type="button" class="btn btn-lg" id="nxt">Buy Right Now</button>
       
    </div>
    <div class="col-md-6">
       <img src="static/im/dondurma.jpg" height="400px" > 
    </div>
    
</div>
</div>
<br>
{%endblock%}