{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Faloodeh</h1>
        <br>
       <p class="lead">
        While this looks like a savory noodle dish, it is, in fact, ice cream from Iran. Blended with a mixture of rose water, sugar, and lime juice, these rice noodles are a perfect frozen treat. 
       </p>
       <br>
       <button type="button" class="btn btn-lg" id="btn">Add To the Cart</button>
<button type="button" class="btn btn-lg" id="nxt">Buy Right Now</button>
       
    </div>
    <div class="col-md-6">
       <img src="static/im/faloodeh.jpg" height="400px" > 
    </div>
    
</div>
</div>
<br>
{%endblock%}