{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Gelato</h1>
        <br>
       <p class="lead">
        Italian gelato ripples and forms imperfect scoops because it is so much denser than standard American ice cream. That's because it contains a higher volume of milk than cream, and it's churned at a slower rate, which means less air is incorporated. There also tends to be no (or very little) egg involved, so that the flavor is more intense and pure.
       </p>
       <br>
       <button type="button" class="btn btn-lg" id="btn">Add To the Cart</button>
<button type="button" class="btn btn-lg" id="nxt">Buy Right Now</button>
    </div>
    <div class="col-md-6">
       <img src="static/im/gelato.jpg" height="400px" > 
    </div>
    
</div>
</div>
<br>
{%endblock%}