{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Granita</h1>
        <br>
       <p class="lead">
        Born in Sicily, this icy treat is a blend of sugar, water, and various flavorings from fruit, nuts, and herbs — like strawberry, almond, and mint. Its crystalized texture makes it best for eating with a spoon from a cup or bowl. 
       </p>
       <br>
       <button type="button" class="btn btn-lg" id="btn">Add To the Cart</button>
<button type="button" class="btn btn-lg" id="nxt">Buy Right Now</button>
    </div>
    <div class="col-md-6">
       <img src="static/im/granita.jpg" height="400px" > 
    </div>
    
</div>
</div>
<br>
{%endblock%}