{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Italian Ice</h1>
        <br>
       <p class="lead">
        Often confused with American sherbet, Italian ice — AKA "water ice" — is fruit-based and made by the same process as standard ice cream (freezing the ingredients while mixing them). It contains no dairy, though sometimes egg white is included. Because of this, it's got an almost velvety-smooth texture and typical flavors include lemon, cherry, blue raspberry, and watermelon.
       </p>
       <br>
       <button type="button" class="btn btn-lg" id="btn">Add To the Cart</button>
<button type="button" class="btn btn-lg" id="nxt">Buy Right Now</button>
    </div>
    <div class="col-md-6">
       <img src="static/im/italian_ice.jpg" height="400px" > 
    </div>
    
</div>
</div>
<br>
{%endblock%}