{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Mochi</h1>
        <br>
       <p class="lead">
        In Japan, dollops of ice cream are wrapped in sweet and sticky rice dough so you can eat it with your hands. Believe us when we say these cute bites — most often available in green tea, red bean, vanilla, and strawberry — are totally addictive. 
       </p>
       <br>
       <button type="button" class="btn btn-lg" id="btn">Add To the Cart</button>
<button type="button" class="btn btn-lg" id="nxt">Buy Right Now</button>
    </div>
    <div class="col-md-6">
       <img src="static/im/mochi.jpg" height="400px" > 
    </div>
    
</div>
</div>
<br>
{%endblock%}