{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Rolled Ice Cream</h1>
        <br>
       <p class="lead">
        A fascinating concept to most, rolled-up strips of ice cream is actually a very common street food in Thailand, Malaysia, Cambodia, and the Philippines. Even more surprising is that the entire process — pouring the ice cream mixture, chopping, mixing add-ins (like strawberries and Oreos), and perfectly spiraling the ice cream — only takes about two minutes. 
       </p>
       <button type="button" class="btn btn-lg" id="btn">Add To the Cart</button>
<button type="button" class="btn btn-lg" id="nxt">Buy Right Now</button>
    </div>
    <div class="col-md-6">
       <img src="static/im/rolled_ice_cream.jpg" height="400px" /> 
    </div>
    
</div>
</div>
<br>
{%endblock%}