{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Snow Cream</h1>
        <br>
       <p class="lead">
        Order ice cream in Taiwan and you'll get a dish of heavenly, fluffy sweets. After freezing a giant cube of milk and water, ice cream makers shave it into insanely thin strips and then top it with boba, fresh fruit, sweetened condensed milk, chocolate, and more
       </p>
       <br>
       <button type="button" class="btn btn-lg" id="btn">Add To the Cart</button>
<button type="button" class="btn btn-lg" id="nxt">Buy Right Now</button>
    </div>
    <div class="col-md-6">
       <img src="static/im/snow_cream.jpg" height="400px" > 
    </div>
    
</div>
</div>
<br>
{%endblock%}