{%extends "base.html" %}
{%block head%}
{% endblock%}

{%block body%}
<br><br>
<div class="container-fluid">
<div class="row text-center padding">
    <div class="col-md-6">
        <br>
        <h1 style="color: rgb(145, 13, 53);">Soft Serve</h1>
        <br>
       <p class="lead">
        A summertime classic in the U.S., soft-serve was first created way back in the 1930s. It gets its super-smooth texture from air that's introduced as the ingredients are frozen. Available in just chocolate and vanilla, it's most often served in a cone and then dipped in chocolate or rainbow sprinkles.  
       </p>
       <br>
       <button type="button" class="btn btn-primary btn-lg">Add To the Cart</button>
<button type="button" class="btn btn-secondary btn-lg">Buy Right Now</button>
    </div>
    <div class="col-md-6">
       <img src="static/im/soft_serve.jpg" height="400px" > 
    </div>
    
</div>
</div>
<br>
{%endblock%}